<section class="team section">
  <div class="container">
    <!-- Title -->
    <h2 class="team-title title">Our team</h2>

    <!-- Description -->
    <p class="team-text">
      Our team is made up of talented and passionate individuals who are
      committed to providing the best experience for our users. Each member
      brings a unique set of skills and expertise to the table, allowing us to
      work collaboratively and effectively to achieve our goals.
    </p>

    <!-- Team memders -->
    <ul class="team-list list card-set">
      <!-- 1 -->
      <li class="team-item one item card-set-item">
        <a href="#" class="team-link link">
          <img
            class="team-img mob"
            srcset="
              ./img/team/team-1_mob@1x.png 1x,
              ./img/team/team-1_mob@2x.png 2x
            "
            src="./img/team/team-1_mob.png"
            alt="David Patel Managing Direcor"
          />
          <img
            class="team-img tab"
            srcset="
              ./img/team/team-1_tab@1x.png 1x,
              ./img/team/team-1_tab@2x.png 2x
            "
            src="./img/team/team-1_tab.png"
            alt="David Patel Managing Direcor"
          />
          <img
            class="team-img desk"
            srcset="
              ./img/team/team-1_desk@1x.png 1x,
              ./img/team/team-1_desk@2x.png 2x
            "
            src="./img/team/team-1_desk.png"
            alt="David Patel Managing Direcor"
          />
          <div class="team-caption">
            <h3 class="team-name">David Patel</h3>
            <p class="team-position">Managing Direcor</p>
          </div>
        </a>
      </li>

      <!-- 2 -->
      <li class="team-item two item card-set-item">
        <a href="" class="team-link link">
          <img
            class="team-img mob"
            srcset="
              ./img/team/team-2_mob@1x.png 1x,
              ./img/team/team-2_mob@2x.png 2x
            "
            src="./img/team/team-2_mob.png"
            alt="Rachel Kim Lead Designer"
          />
          <img
            class="team-img tab"
            srcset="
              ./img/team/team-2_tab@1x.png 1x,
              ./img/team/team-2_tab@2x.png 2x
            "
            src="./img/team/team-2_tab.png"
            alt="Rachel Kim Lead Designer"
          />
          <img
            class="team-img desk"
            srcset="
              ./img/team/team-2_desk@1x.png 1x,
              ./img/team/team-2_desk@2x.png 2x
            "
            src="./img/team/team-2_desk.png"
            alt="Rachel Kim Lead Designer"
          />
          <div class="team-caption">
            <h3 class="team-name">Rachel Kim</h3>
            <p class="team-position">Lead Designer</p>
          </div>
        </a>
      </li>

      <!-- 3 -->
      <li class="team-item two item card-set-item">
        <a href="#" class="team-link link">
          <img
            class="team-img mob"
            srcset="
              ./img/team/team-3_mob@1x.png 1x,
              ./img/team/team-3_mob@2x.png 2x
            "
            src="./img/team/team-3_mob.png"
            alt="Samantha Chen Lead Developer"
          />
          <img
            class="team-img tab"
            srcset="
              ./img/team/team-3_tab@1x.png 1x,
              ./img/team/team-3_tab@2x.png 2x
            "
            src="./img/team/team-3_tab.png"
            alt="Samantha Chen Lead Developer"
          />
          <img
            class="team-img desk"
            srcset="
              ./img/team/team-3_desk@1x.png 1x,
              ./img/team/team-3_desk@2x.png 2x
            "
            src="./img/team/team-3_desk.png"
            alt="Samantha Chen Lead Developer"
          />
          <div class="team-caption">
            <h3 class="team-name">Samantha Chen</h3>
            <p class="team-position">Lead Developer</p>
          </div>
        </a>
      </li>

      <!-- 4 -->
      <li class="team-item one item card-set-item">
        <a href="#" class="team-link link">
          <img
            class="team-img mob"
            srcset="
              ./img/team/team-4_mob@1x.png 1x,
              ./img/team/team-4_mob@2x.png 2x
            "
            src="./img/team/team-4_mob.png"
            alt="Andrew Nguyen Sr. UI Designer"
          />
          <img
            class="team-img tab"
            srcset="
              ./img/team/team-4_tab@1x.png 1x,
              ./img/team/team-4_tab@2x.png 2x
            "
            src="./img/team/team-4_tab.png"
            alt="Andrew Nguyen Sr. UI Designer"
          />
          <img
            class="team-img desk"
            srcset="
              ./img/team/team-4_desk@1x.png 1x,
              ./img/team/team-4_desk@2x.png 2x
            "
            src="./img/team/team-4_desk.png"
            alt="Andrew Nguyen Sr. UI Designer"
          />
          <div class="team-caption">
            <h3 class="team-name">Andrew Nguyen</h3>
            <p class="team-position">Sr. UI Designer</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
